body {
	font-family: 'Cambay', sans-serif;
	 background-color: rgba(13, 37, 154, 0.64);
}
.headersearch {
	text-align:center;
}
.headersearch h1 {
	margin-top:20px;
	font-size:5em;
	margin-bottom:0px;
}
.searchoptions {
	height: 25px;
}
#searchkey {
	height: inherit;
	border-radius:5px;
	border-style:none;
	outline: none;
	padding: 0px 10px 0px 10px;
	
}
#result-amount {
	height: inherit;
	border-radius: 5px;
	border-style:none;
	outline: none;
	padding-left: 5px;
	padding-right: 5px;
}
#searchapi {
	height: inherit;
	border-style:none;
	outline: none;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
}


.results {

  display: -webkit-flex;
  display: flex;
	flex-wrap: wrap;
 text-align: center;
 justify-content: space-around;
}
.results .movie-result {
	/*short hand for flex-grow,flex-shrink,flexbasis*/
	flex: 1 0 300px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
	max-width: 300px;
	position: relative;
}
.result-title {
	font-weight: 700;

}
.result-poster {
	position: relative;
	justify-content: center;
	border-radius: 5px;
	height:450px;
}
.result-poster img {
	border-radius: 5px;
}
.result-overview{

}
.result-hover {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	border-radius: 5px;
	display:none;
	font-size:medium;
	background-color: rgba(252,251,251,0.9);
	text-align: left;
	padding: 25px;
}

.result-hover ul li {
	margin-bottom: -10px;
	margin-top: 2px;
	list-style: none;
	text-align: left;
	padding-left: 20px;
}
.sectionTitle {

}
.footer{

}


/*formatting to come later*/
