body {
	font-family: 'Cambay', sans-serif;
}
.headersearch {

}
.results {

  display: -webkit-flex;
  display: flex;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	padding: 0;
	margin: 0;
}
.movie-result {
	margin: 5px;
	width: 300px;
	
	padding: 5px;
	
}
.result-title {
	font-weight: 700;

}
.result-poster img {
	width: 250px;
}
.result-overview{

}
.footer{

}


/*formatting to come later*/
