body {
	font-family: 'Cambay', sans-serif;
}
.headersearch {

}
.results {

  display: -webkit-flex;
  display: flex;
	flex-wrap: wrap;
 text-align: center;
 justify-content: space-around;
}
.results .movie-result {
	/*short hand for flex-grow,flex-shrink,flexbasis*/
	flex: 1 0 300px;
	margin-left: 10px;
	margin-top: 10px;
	padding: 10px;
	max-width: 300px;
	position: relative;
}
.result-title {
	font-weight: 700;

}
.result-poster {
	display: flex;
	justify-content: center;
}
.result-overview{
	
}
.result-hover {
	position: absolute;
	top: 50px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	font-size:medium;
}
.result-hover ul li {
	margin-bottom: 0px;
	margin-top: 2px;
}
.footer{

}


/*formatting to come later*/
